<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MovieVote - Choose Together</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link rel="stylesheet" href="/stylesheets/home.css">
</head> 
<body>

	<!-- -------------- -->
	<!-- NavBar Seciton --> 
	<!-- -------------- -->
	<header class="header">
		<div class="header-container">
			<div class="logo">
				<a href="/">🎬 MovieVote</a>
			</div>

			<div class="header-actions">
				{{#if isAuthenticated}}
				<a href="/login" class="btn-header btn-login">PROFILE</a>
				<a href="/register" class="btn-header btn-register">SETTINGS</a>
				<a href="/register" class="btn-header btn-register">LOGOUT</a>
				{{else}}
				<a href="/login" class="btn-header btn-login">SIGN IN</a>
				<a href="/register" class="btn-header btn-register">CREATE ACCOUNT</a>
				{{/if}}
			</div>
		</div>
	</header>

	<main>
    {{> flash-message flashMessage=flashMessage}}
    
    {{{body}}}
  </main>

  <footer>
    <p>&copy; {{currentYear}} Authentication Template. For educational purposes only.</p>
  </footer>
</body>
</html>